.solutions-list li:first-child {
    position: relative;
}
.solutions-list li:first-child .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.solutions-list li:first-child .picture::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    mix-blend-mode: multiply;
    background-color: rgb(78, 76, 77);
    opacity: 0.8;
}
.solutions-list li:first-child .picture img {
    border-radius: 4px;
}

.solutions-list > li:first-child .icon-container img {
    width: calc(85/610 * 100%);
    height: calc(85/370 * 100%);
}

@media (min-width: 992px) {
    .solutions-list {
        position: relative;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 30px;
    }
    .solutions-list > li:first-child .picture {
        width: calc(610/((1120 - 15) / 3 * 2) * 100%);
        overflow: hidden;
    }

    .solutions-list li:first-child .picture::after {
        top: 0;
        height: auto;
        padding-bottom: calc(100% / (var(--md-aspect-ratio)));
    }

    .solutions-list > li:first-child .picture img {
        height: auto;
    }

    .solutions-list > li:first-child .icon-container {
        width: calc(610/((1120 - 15) / 3 * 2) * 100%);
        height: auto;
    }

    .solutions-list .solution-content ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 1em;
    }

    .solutions-list .solution-content ul li:before {
        display: inline-block;
        margin-left: -1em;
    }

    .solutions-list .solution-content > ul > li:before {
        content: "•";
        font-weight: bold;
        color: var(--primary-color);
        width: 0.65em;
    }

    .solutions-list .solution-content > ul > li > ul > li:before {
        content: "-";
        width: 0.5em;
    }

    .solutions-list .solution-content > ul > li:not(:last-child) {
        margin-bottom: 24px;
    }

    .solutions-list .solution-content > ul > li > ul > li:before {
        display: inline-block;
        content: "-";
        width: 0.5em;
        margin-left: -1em;
    }

    /* Structure spécifique à Economie Construction */
    #economie-construction .solutions-list {
        grid-template-areas:
            "h h a"
            "h h b"
            "c c b";
    }

    #economie-construction .solutions-list > li:first-child {
        grid-area: h;
        height: 500px;
        flex-flow: row nowrap;
    }

    #economie-construction .solutions-list > li:first-child .solution-header {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 420px;
    }

    #economie-construction .solutions-list > li:nth-child(2) {
        grid-area: a;
    }

    #economie-construction .solutions-list > li:nth-child(3) {
        grid-area: b;
        display: flex;
        flex-flow: column nowrap;
    }

    #economie-construction .solutions-list > li:nth-child(3) .card {
        justify-content: center;
    }

    #economie-construction .solutions-list > li:nth-child(4) {
        grid-area: c;
    }

    /* Structure spécifique à Ingénierie fluide */
    #ingenierie-fluide .solutions-list {
        grid-template-areas:
            "a h h"
            "b h h"
            "b c d";
    }

    #ingenierie-fluide .solutions-list > li:first-child {
        grid-area: h;
        height: 500px;
        flex-flow: row nowrap;
    }

    #ingenierie-fluide .solutions-list > li:first-child .solution-header {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 420px;
    }

    #ingenierie-fluide .solutions-list > li:nth-child(2) {
        grid-area: a;
    }

    #ingenierie-fluide .solutions-list > li:nth-child(3) {
        grid-area: b;
        display: flex;
        flex-flow: column nowrap;
    }

    #ingenierie-fluide .solutions-list > li:nth-child(3) .card {
        justify-content: center;
    }

    #ingenierie-fluide .solutions-list > li:nth-child(4) {
        grid-area: c;
    }

    #ingenierie-fluide .solutions-list > li:nth-child(5) {
        grid-area: d;
    }
}