$icomoon-font-family: "Be-in-home" !default;
$icomoon-font-path: "fonts" !default;

$bih-attic: "\e900";
$bih-baby: "\e901";
$bih-bathroom: "\e902";
$bih-bedroom: "\e903";
$bih-bell: "\e904";
$bih-box: "\e905";
$bih-calendar: "\e906";
$bih-catchphrase: "\e907";
$bih-cellar: "\e908";
$bih-constructor-bubble: "\e909";
$bih-dinning-room: "\e90a";
$bih-entrance: "\e90b";
$bih-eyed-bubbles: "\e90c";
$bih-fan: "\e90d";
$bih-file: "\e90e";
$bih-fire-alarm: "\e90f";
$bih-flame: "\e910";
$bih-garage: "\e911";
$bih-garden: "\e912";
$bih-hi-fi: "\e913";
$bih-house-cog: "\e914";
$bih-house-wrench: "\e915";
$bih-key-house: "\e916";
$bih-home: "\e917";
$bih-homes: "\e918";
$bih-cog: "\e919";
$bih-contrariwise-arrows: "\e91a";
$bih-fireplace: "\e91b";
$bih-firewood: "\e91c";
$bih-fuel-oil: "\e91d";
$bih-kitchen: "\e91e";
$bih-lightbulb: "\e91f";
$bih-living-room: "\e920";
$bih-loft: "\e921";
$bih-logo: "\e922";
$bih-office: "\e923";
$bih-picture: "\e924";
$bih-pictures-and-documents: "\e925";
$bih-plug: "\e926";
$bih-plug-inverse: "\e927";
$bih-recycle: "\e928";
$bih-shower-room: "\e929";
$bih-snowflake: "\e92a";
$bih-tachometer-inverse: "\e92b";
$bih-thermometer: "\e92c";
$bih-trash-can: "\e92d";
$bih-water-closet: "\e92e";
$bih-water-drop: "\e92f";
$bih-wifi: "\e930";
$bih-worker-wrench: "\e931";
$bih-wrench: "\e932";
$bih-builder: "\e933";
$bih-box-opaque: "\e934";
$bih-photovoltaic-panel: "\e935";
$bih-owner: "\e936";
$bih-tenant: "\e937";
$bih-tap: "\e938";
$bih-washer: "\e939";
$bih-mezzanine: "\e93a";
$bih-corridor: "\e93b";
$bih-dressing: "\e93c";
$bih-living-room-kitchen: "\e93d";
$bih-storeroom: "\e93e";
$bih-hot-water: "\e93f";
$bih-sewerage-treatment: "\e940";
$bih-water-treatment: "\e941";
$bih-outside: "\e942";
$bih-circle: "\e943";
$bih-circle-inprogress: "\e944";
$bih-clock: "\e945";
$bih-inprogress: "\e946";
$bih-clock-hands: "\e947";

